.container{
margin-top:40px;
width:50vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height:40vh;
background-color: #FFFFFF;
gap:5px;
margin-top: 10px;
}
p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}
/* .description{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
} */