<div class="container">
    <div class="dropdown">
        <app-dropdown></app-dropdown>
    </div>
    <hr >
    <div class="container-Abs">
        <div>
            <p>Liste des absentes</p>
            <ng-container *ngFor="let absent of  StudentInClass">
                <app-absent-woman *ngIf=" absent.isPresent==false && absent.isWoman" [absentWoman]="absent"
                ></app-absent-woman>
            </ng-container>
        </div>
        
        <div>
            <p>Liste des absents</p>
            <ng-container *ngFor="let absent of  StudentInClass">
                <app-absent-man *ngIf="absent.isPresent==false && absent.isWoman==false" [absentMan]="absent"
                ></app-absent-man>
            </ng-container>
        </div>
    </div>
    
</div>
